/* Blog.css */

.blog-post {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Senka izmedju postova */
  border-left: 5px solid var(--primary-color);
}

.blog-post h2 {
  color: #333;
}

.blog-post .blog-content {
  margin-top: 15px; /* razmak izmedju postova */
}

.blog-post .blog-image {
  max-width: 100%;
  height: auto;
  margin-top: 15px; /* razmak izmedju slike i teksta */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.read-more-button,
.add-blog-button{
  background-color: #BC1414;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.read-more-button:hover,
.add-blog-button:hover {
  background-color: #EE2F2F;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.read-more-button:focus,
.add-blog-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px black;
}

.delete-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-top: 6px;
  margin-left: 12px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.delete-icon:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

.edit-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.edit-icon:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}


.add-new-blog {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: 5px solid var(--secondary-color);
}

.add-new-blog h2 {
  margin-bottom: 10px;
  color: #333;
}

.add-new-blog form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-new-blog input[type="text"],
.add-new-blog textarea {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.add-new-blog input[type="file"] {
  padding: 8px;
}

.add-new-blog button {
  background-color: #BC1414;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-new-blog button:hover {
  background-color: #EE2F2F;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-new-blog button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}

.edit-form {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form h2 {
  margin-bottom: 10px;
  color: #333;
}

.edit-form input[type="text"],
.edit-form textarea {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.edit-form input[type="file"] {
  padding: 8px;
}

.edit-form button {
  background-color: #BC1414;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-form button:hover {
  background-color: #EE2F2F;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.edit-form button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}

