.section.login-form {
    padding: 20px;
    width: 500px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    background-color: #BC1414;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button:hover {
    background-color: #EE2F2F;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .sign-up-link {
    text-align: center;
    margin-top: 20px;
  }
  