/* src/Navbar.css */
img {
  height: auto;
  width: 230px;
}
.navbar {
  background-color: #333;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo:hover {
  text-decoration: underline; 
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin-top: 27px;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-item.active .navbar-link {
  font-weight: bold; 
  padding: 8px 12px; 
  background-color: rgba(237, 25, 25, 0.6); 
  border-radius: 4px;
}


