/* src/TrainingPlans.css */

.section {
  margin-top: 20px;
}

.a-plan, .b-plan, .i-plan {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.a-plan h2, .b-plan h2, .i-plan h2 {
  color: #BC1414;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.a-plan p, .b-plan p, .i-plan p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
}

.a-plan ul, .b-plan ul, .i-plan ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 15px;
}

.a-plan ul li, .b-plan ul li, .i-plan ul li {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}
.a-plan, .b-plan{
  border-left: 5px solid var(--primary-color);
}
.i-plan{
  border-left: 5px solid var(--secondary-color);
}

.link {
  display: inline-block;
  background-color: #BC1414;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link:hover {
  background-color: #EE2F2F;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
