
.clients-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.client-info {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-left: 5px solid var(--primary-color);
}

.client-info:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.notes-container {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-left: 5px solid var(--secondary-color);
}

.notes-container h2 {
  margin-bottom: 10px;
}

.notes-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  resize: vertical;
}

.notes-container button {
  background-color: #ff0000;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notes-container button:hover {
  background-color: #cc0000;
}

.notes-list{
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-left: 5px solid var(--secondary-color);
}