/*boja fonta #EBEBEB*/
/*boja dugmica #BC1414*/
/*boja headera i navbara #333333*/
/*hover dugmica #EE2F2F*/
/*boja pozadine rgb(232, 232, 232)*/


:root {
  --primary-color: #EE2F2F;
  --secondary-color: #333;
  --accent-color: #EE2F2F; 
  --background-color: rgb(232, 232, 232); 
  --text-color: #333; 
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto; 
  padding: 20px;
  max-width: 1250px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: #EBEBEB;
  padding: 20px;
  border-radius: 8px;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: var(--primary-color);
}



/* Header styles */
.header {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #333333;
  box-shadow: 0 4px 8px hsl(0, 0%, 5%);
  border-radius: 8px;
}

.header h1 {
  margin-top: 0;
  font-size: 36px;
  color: #EBEBEB;
}

.header p {
  font-size: 18px;
  color: #EBEBEB;
}




footer {
  text-align: center;
  margin-top: 40px;
}


/* Footer styles */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 8px;
}

.footer p {
  font-size: 16px;
  color: #ecf0f1;
}

/*TrainerDasboard*/
.clients-list {
  margin-top: 20px;
}

.client-info {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.client-info h2 {
  margin-bottom: 5px;
}

.client-info p {
  margin-bottom: 3px;
}

.client-info hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #ccc;
}




