

:root {
  --primary-color: #3498db; /* Plava */
  --secondary-color: #2ecc71; /* Zelena */
  --accent-color: #e74c3c; /* Crvena */
  --background-color: #f0f0f0; /* Svetlo siva */
  --text-color: #333; /* Tamno siva */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section.about {
  border-left: 5px solid var(--primary-color);
}

.section.services {
  border-left: 5px solid var(--secondary-color);
}

.section.blog {
  border-left: 5px solid var(--accent-color);
}

.footer {
  text-align: center;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: var(--primary-color);
}

/* Stil za navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 50px; /* Prilagodi veličinu logotipa po potrebi */
  margin-right: 10px;
}

.navbar .logo span {
  font-size: 1.5rem; /* Prilagodi veličinu teksta po potrebi */
}

.navbar ul {
  display: flex; /* Podešavanje da se stavke liste prikažu u jednom redu */
  list-style-type: none; /* Uklanjanje tačkastog obeležja */
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 20px; /* Razmak između stavki u navbaru */
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px;
}

.navbar li a:hover {
  text-decoration: underline; /* Podvlačenje linka prilikom hovera */
}

